* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
}



/* 去除内核的滚动条 */
::-webkit-scrollbar {
    display: none;
}

/* 去掉a标签的修饰 */
a {
    text-decoration: none;
}


/* 页面主体 */
main {
    scroll-behavior: smooth;
    display: flex;
    scroll-snap-type: x mandatory;
    overflow: scroll;
    height: 100vh;
    width: 100vw;

}

.text {
    display: block;
    margin-top: 20%;
    margin-left: 35%;
}

.text .head {
    margin-left: 0;
    font-size: 3vw;
    border-left: 10px solid gold;
}

section {
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
    flex-shrink: 0;
}

section:nth-child(1) {
    background-image: url("../images/home/ar.jpg");
    backdrop-filter: saturate(180%) blur(20px);
    background-size: 100vw 100vh;
    text-align: center;
    color: #fff;
}

section:nth-child(1) img {

    position: absolute;
    left: 0px;
    top: 10px;
    z-index: -1;
    width: 100% !important;
    /* height: 100% !important; */
    overflow: hidden;

}

section:nth-child(2) {

    text-align: center;
    /* background-color: blue; */
    color: #fff;
}

section:nth-child(3) {
    text-align: center;
    /* background-color: blueviolet; */
    color: #fff;
}



/* 瀑布流布局 */
.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* 需要指定高度 */
    height: 800px;
}

.item {
    width: 25%;
}

.item img {
    width: 100%;
}








/* 滚动导航条 */
.nav {

    /*align-items: center;*/
    width: 100% !important;
    height: 70px;
    position: fixed;
    bottom: 0;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background-color: rgb(139, 91, 79);
    /* 修改数值 */

}


.nav ul {
    width: 100%;
    height: 100%;
    display: flex;
    /*align-items: center;*/
    right: 5%;
}

.nav ul .nav-box {
    position: absolute;
    bottom: 0;
    left: 0;
    /* 如果导航栏就六个导航，那么每个导航的宽度都是整个导航
    的四分之一 */

    width: calc((100% / 4)*1);
    height: 10px;
    border-radius: 2px;
    transition: .5s;
}

.nav ul li {
    width: 100%;
    text-align: center;
    color: white;
    font: 100 2vw '优设标题黑';
    display: block;
    width: 100%;
    height: 100%;
    line-height: 70px;
}

.nav ul li i {
    font-size: 2vw;
}

.active1 {
    position: absolute;
    margin-left: 0% !important;
    background-color: rgb(250, 190, 250);
}

.active2 {
    position: absolute;
    margin-left: calc(100% / 4 *1) !important;
    background-color: red;
}

.active3 {
    position: absolute;
    margin-left: calc(100% / 4 *2) !important;
    background-color: #d18df8;
}

.active4 {
    position: absolute;
    margin-left: calc(100% / 4 *3) !important;
    background-color: #ffb1b1;
}


.nav ul li:nth-child(1):hover~.nav-box {
    margin-left: 0% !important;
    background-color: rgb(250, 190, 250);
}

.nav ul li:nth-child(2):hover~.nav-box {
    margin-left: calc(100% / 4 *1) !important;
    background-color: red;
}

.nav ul li:nth-child(3):hover~.nav-box {
    margin-left: calc(100% / 4 *2) !important;
    background-color: #d18df8;
}

.nav ul li:nth-child(4):hover~.nav-box {
    margin-left: calc(100% / 4 *3) !important;
    background-color: #ffb1b1;
}